<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a9cea0">  <td>20/11/10 15:25:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PaymentsWithPaypal.OpenBrowser()[pri:0, instance:testcases.logins.PaymentsWithPaypal@631330c]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2015781843</td>   <td></td> </tr>
<tr bgcolor="a9cea0">  <td>20/11/10 15:26:31</td>   <td>38998</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaymentsWithPaypal.DailySessionPaymentsWithPaypal(java.lang.String, java.lang.String)[pri:0, instance:testcases.logins.PaymentsWithPaypal@631330c]">DailySessionPaymentsWithPaypal</td> 
  <td>main@2015781843</td>   <td></td> </tr>
<tr bgcolor="a9cea0">  <td>20/11/10 15:28:12</td>   <td>139571</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PaymentsWithPaypal.teardown()[pri:0, instance:testcases.logins.PaymentsWithPaypal@631330c]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2015781843</td>   <td></td> </tr>
</table>
