<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ac637b">  <td>20/11/02 14:28:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.OpenBrowser()[pri:0, instance:testcases.logins.LoginTest@631330c]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1859039536</td>   <td></td> </tr>
<tr bgcolor="ac637b">  <td>20/11/02 14:29:09</td>   <td>36656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.TrainerLogin(java.lang.String, java.lang.String)[pri:0, instance:testcases.logins.LoginTest@631330c]">TrainerLogin</td> 
  <td>main@1859039536</td>   <td></td> </tr>
<tr bgcolor="ac637b">  <td>20/11/02 14:29:29</td>   <td>56463</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testcases.logins.LoginTest@631330c]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1859039536</td>   <td></td> </tr>
<tr bgcolor="87ed94">  <td>20/11/02 14:29:32</td>   <td>59181</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FacebookLoginTest.TrainerSocialBrowser()[pri:0, instance:testcases.logins.FacebookLoginTest@42f93a98]">&gt;&gt;TrainerSocialBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1859039536</td>   <td></td> </tr>
<tr bgcolor="87ed94">  <td>20/11/02 14:30:08</td>   <td>95191</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FacebookLoginTest.FacebookLogin(java.lang.String, java.lang.String)[pri:0, instance:testcases.logins.FacebookLoginTest@42f93a98]">FacebookLogin</td> 
  <td>main@1859039536</td>   <td></td> </tr>
<tr bgcolor="87ed94">  <td>20/11/02 14:30:44</td>   <td>131470</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FacebookLoginTest.teardown()[pri:0, instance:testcases.logins.FacebookLoginTest@42f93a98]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1859039536</td>   <td></td> </tr>
<tr bgcolor="6e648a">  <td>20/11/02 14:30:47</td>   <td>134180</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GmailLoginTest.TrainerSocialBrowser()[pri:0, instance:testcases.logins.GmailLoginTest@c46bcd4]">&gt;&gt;TrainerSocialBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1859039536</td>   <td></td> </tr>
<tr bgcolor="6e648a">  <td>20/11/02 14:31:23</td>   <td>170134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GmailLoginTest.GmailLogin(java.lang.String, java.lang.String)[pri:0, instance:testcases.logins.GmailLoginTest@c46bcd4]">GmailLogin</td> 
  <td>main@1859039536</td>   <td></td> </tr>
<tr bgcolor="6e648a">  <td>20/11/02 14:32:00</td>   <td>207079</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GmailLoginTest.teardown()[pri:0, instance:testcases.logins.GmailLoginTest@c46bcd4]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1859039536</td>   <td></td> </tr>
<tr bgcolor="6ba0af">  <td>20/11/02 14:32:02</td>   <td>209880</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProdLoginTest.OpenBrowser()[pri:0, instance:testcases.logins.ProdLoginTest@46daef40]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1859039536</td>   <td></td> </tr>
<tr bgcolor="6ba0af">  <td>20/11/02 14:32:36</td>   <td>243408</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProdLoginTest.ProductionTrainerLogin(java.lang.String, java.lang.String)[pri:0, instance:testcases.logins.ProdLoginTest@46daef40]">ProductionTrainerLogin</td> 
  <td>main@1859039536</td>   <td></td> </tr>
<tr bgcolor="6ba0af">  <td>20/11/02 14:32:55</td>   <td>262595</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProdLoginTest.teardown()[pri:0, instance:testcases.logins.ProdLoginTest@46daef40]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1859039536</td>   <td></td> </tr>
<tr bgcolor="83ab84">  <td>20/11/02 14:32:58</td>   <td>265258</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProdFacebookLoginTest.OpenBrowser()[pri:0, instance:testcases.logins.ProdFacebookLoginTest@12f41634]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1859039536</td>   <td></td> </tr>
<tr bgcolor="83ab84">  <td>20/11/02 14:34:05</td>   <td>332772</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProdFacebookLoginTest.ProductionFacebookLogin(java.lang.String, java.lang.String)[pri:0, instance:testcases.logins.ProdFacebookLoginTest@12f41634]">ProductionFacebookLogin</td> 
  <td>main@1859039536</td>   <td></td> </tr>
<tr bgcolor="83ab84">  <td>20/11/02 14:34:05</td>   <td>332780</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProdFacebookLoginTest.teardown()[pri:0, instance:testcases.logins.ProdFacebookLoginTest@12f41634]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="c8afef">  <td>20/11/02 14:34:05</td>   <td>332783</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProdGmailLoginTest.OpenBrowser()[pri:0, instance:testcases.logins.ProdGmailLoginTest@13c27452]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1859039536</td>   <td></td> </tr>
<tr bgcolor="c8afef">  <td>20/11/02 14:34:10</td>   <td>337119</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProdGmailLoginTest.ProductionGmailLogin(java.lang.String, java.lang.String)[pri:0, instance:testcases.logins.ProdGmailLoginTest@13c27452]">ProductionGmailLogin</td> 
  <td>main@1859039536</td>   <td></td> </tr>
<tr bgcolor="c8afef">  <td>20/11/02 14:34:10</td>   <td>337126</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProdGmailLoginTest.teardown()[pri:0, instance:testcases.logins.ProdGmailLoginTest@13c27452]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
