<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7bbd77">  <td>20/11/02 14:21:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FacebookLoginTest.FacebookLogin(java.lang.String, java.lang.String)[pri:0, instance:testcases.logins.FacebookLoginTest@7376dad9]">FacebookLogin</td> 
  <td>Test worker@269047360</td>   <td></td> </tr>
<tr bgcolor="98a57f">  <td>20/11/02 14:23:00</td>   <td>75942</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GmailLoginTest.GmailLogin(java.lang.String, java.lang.String)[pri:0, instance:testcases.logins.GmailLoginTest@227472a]">GmailLogin</td> 
  <td>Test worker@269047360</td>   <td></td> </tr>
<tr bgcolor="f864a7">  <td>20/11/02 14:20:06</td>   <td>-97956</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.OpenBrowser()[pri:0, instance:testcases.logins.LoginTest@2e4c5c2e]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@269047360</td>   <td></td> </tr>
<tr bgcolor="b6bdbd">  <td>20/11/02 14:23:40</td>   <td>115696</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProdLoginTest.OpenBrowser()[pri:0, instance:testcases.logins.ProdLoginTest@583ff0c7]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@269047360</td>   <td></td> </tr>
<tr bgcolor="648ab7">  <td>20/11/02 14:24:32</td>   <td>168006</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProdFacebookLoginTest.OpenBrowser()[pri:0, instance:testcases.logins.ProdFacebookLoginTest@26f7efa5]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@269047360</td>   <td></td> </tr>
<tr bgcolor="e5768d">  <td>20/11/02 14:25:42</td>   <td>238015</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProdGmailLoginTest.OpenBrowser()[pri:0, instance:testcases.logins.ProdGmailLoginTest@6a6aa4e8]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@269047360</td>   <td></td> </tr>
<tr bgcolor="648ab7">  <td>20/11/02 14:25:04</td>   <td>199750</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProdFacebookLoginTest.ProductionFacebookLogin(java.lang.String, java.lang.String)[pri:0, instance:testcases.logins.ProdFacebookLoginTest@26f7efa5]">ProductionFacebookLogin</td> 
  <td>Test worker@269047360</td>   <td></td> </tr>
<tr bgcolor="e5768d">  <td>20/11/02 14:26:12</td>   <td>268029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProdGmailLoginTest.ProductionGmailLogin(java.lang.String, java.lang.String)[pri:0, instance:testcases.logins.ProdGmailLoginTest@6a6aa4e8]">ProductionGmailLogin</td> 
  <td>Test worker@269047360</td>   <td></td> </tr>
<tr bgcolor="b6bdbd">  <td>20/11/02 14:24:09</td>   <td>145255</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProdLoginTest.ProductionTrainerLogin(java.lang.String, java.lang.String)[pri:0, instance:testcases.logins.ProdLoginTest@583ff0c7]">ProductionTrainerLogin</td> 
  <td>Test worker@269047360</td>   <td></td> </tr>
<tr bgcolor="f864a7">  <td>20/11/02 14:20:44</td>   <td>-59527</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.TrainerLogin(java.lang.String, java.lang.String)[pri:0, instance:testcases.logins.LoginTest@2e4c5c2e]">TrainerLogin</td> 
  <td>Test worker@269047360</td>   <td></td> </tr>
<tr bgcolor="7bbd77">  <td>20/11/02 14:21:07</td>   <td>-36636</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FacebookLoginTest.TrainerSocialBrowser()[pri:0, instance:testcases.logins.FacebookLoginTest@7376dad9]">&gt;&gt;TrainerSocialBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@269047360</td>   <td></td> </tr>
<tr bgcolor="98a57f">  <td>20/11/02 14:22:23</td>   <td>39406</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GmailLoginTest.TrainerSocialBrowser()[pri:0, instance:testcases.logins.GmailLoginTest@227472a]">&gt;&gt;TrainerSocialBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@269047360</td>   <td></td> </tr>
<tr bgcolor="f864a7">  <td>20/11/02 14:21:05</td>   <td>-39320</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:testcases.logins.LoginTest@2e4c5c2e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@269047360</td>   <td></td> </tr>
<tr bgcolor="7bbd77">  <td>20/11/02 14:22:21</td>   <td>36700</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FacebookLoginTest.teardown()[pri:0, instance:testcases.logins.FacebookLoginTest@7376dad9]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@269047360</td>   <td></td> </tr>
<tr bgcolor="98a57f">  <td>20/11/02 14:23:37</td>   <td>112844</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GmailLoginTest.teardown()[pri:0, instance:testcases.logins.GmailLoginTest@227472a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@269047360</td>   <td></td> </tr>
<tr bgcolor="b6bdbd">  <td>20/11/02 14:24:29</td>   <td>165352</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProdLoginTest.teardown()[pri:0, instance:testcases.logins.ProdLoginTest@583ff0c7]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@269047360</td>   <td></td> </tr>
<tr bgcolor="648ab7">  <td>20/11/02 14:25:39</td>   <td>235321</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProdFacebookLoginTest.teardown()[pri:0, instance:testcases.logins.ProdFacebookLoginTest@26f7efa5]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@269047360</td>   <td></td> </tr>
<tr bgcolor="e5768d">  <td>20/11/02 14:26:49</td>   <td>304997</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProdGmailLoginTest.teardown()[pri:0, instance:testcases.logins.ProdGmailLoginTest@6a6aa4e8]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test worker@269047360</td>   <td></td> </tr>
</table>
